body{color: #4A4A4A;}
header{background: url(../images/background_header.png); background-size: 100%; height: 625px;}
.nav_header{padding: 25px 68px 15px; }
header nav ul li{display: inline-block; font-weight: 500;}
a{color: #4A4A4A;}
.nav_header_items li {margin-left: 16;}
.nav_header_items {padding-right: 30px;border-right: 1px solid #007580; line-height: 24px;}
.nav_header_items a{padding: 12px 15px 11px; border-radius: 100px;}
.nav_header_items a:hover{background: rgba(255, 255, 255, 0.68); color: #007580;}

header .account li{ margin-left: 16px;}

.account .sign_in {color: #007580; border: 1px solid #007580; border-radius: 100px; text-align: center; padding: 11px 20px; cursor: pointer; position: relative;}
.account .login a {padding: 11px 20px;}
.account .login a:hover {color: #ffffff; border-radius: 100px; background: #007580;}
.signin_choose{z-index: 100;;filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.2));border-radius: 10px; background: #ffffff; width: 172px; position: absolute; right: 0; top: 50px; display: none;}
.candicate_signin{border-radius: 10px 10px 0 0;}
.employer_signin{border-radius: 0 0 10px 10px;}
.signin_choose a{padding-left: 16px; height: 42px; }
.signin_choose a:hover{background: #E5FDFF;}
.signin_choose a p {padding-left: 11px;}

.banner_header{padding: 0 68px; height: calc(100% - 86px);}
.banner_header_search{box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.4);border-radius: 10px; padding: 20px; width: 613px;}
.banner_header_left{margin-top: 145px;}
.banner_header_left h1 {margin-bottom: 25px; color: #007580;}
.banner_header_left h1 span {color: #FF9900;}
.banner_header_right{position: relative;}
input, select{outline: 0; border: 0;}

.search_item{padding: 0 10px 0 41px;height: 52px; display: flex; align-items: center; width: 38.5%;}
.search_item:first-child{border-right: 1px solid #999999;}
.img_search_item{left: 15px; top: 35%;}
.search_job_name{border-radius: 10px 0 0 10px;}
.search_container {font-size: 16px;}

.banner_header_search .select2-container--default .select2-selection--single{border: 0;}
.select2-container--open .select2-dropdown{border: 1px solid #999999;filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));border-radius: 10px;}
.banner_header_search .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{background: #007580 !important; color: #ffffff;}
.btn_search_job{background: #007580;cursor: pointer;border-radius: 0px 10px 10px 0px; color: #ffffff; border: 0; height: 100%; width: 133px ; font-weight: 700;}
.btn_search_job:hover{background: #005E66;}

.key_trend {bottom: 0; left: 0; padding: 0 0 67px 68px;}
.key_trend h4 {font-size: 18px; font-weight: 400; margin-right: 17px;}
.list_key li{display: inline-block; margin-left: 10px; font-size: 16px;background: rgba(255, 255, 255, 0.4);box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.15);border-radius: 100px; text-align: center; padding: 8px 12px 7px; color: #595959; cursor: pointer;}
.img_girl{bottom: 0; right: 10%;}
.img_like{right: 3%; top: 30%;}
.img_confirm{top: 19%; left: 27%;}

.members{width: 170px; padding: 15px; background-color: rgba(255, 255, 255, 0.68);box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);border-radius: 10px; right: 0; bottom: 13%;}
.members > div {height: 40px;}
.members h4 {padding-bottom: 10px;}

.members_z_index1 {z-index: 1;}
.members_z_index2 {z-index: 2; left: 25px;}
.members_z_index3 {z-index: 3; left: 50px;}
.members_z_index4 {z-index: 4; left: 75px;}
.members_z_index5 {z-index: 5; left: 100px;}

.chat_btn{background: #009638; border-radius: 10px 10px 0px 0px; position: fixed; bottom: 0; right: 0; color: #ffffff; width: 132px; height: 42px; font-weight: 500; z-index: 100;}
.back_to_top{position: fixed; bottom: 54px; right: 10px; z-index: 100; border-radius: 50%; background-color: rgb(204, 251, 255, 0.68); width: 42px; height: 42px; display: flex; align-items: center; justify-content: center;}
.back_to_top:hover{background-color: rgb(204, 251, 255)}

.download_container{padding: 48px 0 37px; width: 75%; margin: 0 auto;}
.download_container_content{width: 45%;}
.download_container_content ul li::before{content: url('../images/checked_green.svg'); padding-right: 10px; vertical-align: middle;}
.download_container_content ul li{padding-bottom: 16px;}
.download_container_content ul {margin-top: 24px;}

.url_download a{background: #007580;border-radius: 100px; color: #ffffff; font-weight: 500; height: 42px; padding: 0 20px 0 21px;}
.url_download a::before{content: url(../images/download_icon.svg); height: 16px; vertical-align: middle; padding-right: 6px;}
.url_download{margin-top: 20px;}

.new_works{background: #fafafa; padding-bottom: 44px;}
.new_works_header{padding: 44px 68px 40px; position: relative;}
.new_works_header h1{padding-bottom: 16px;}
.new_works_header .list_works {position: absolute; right: 62px; bottom: 12%;}
.new_works_header .list_works a{border-radius: 8px; padding: 10px 16px; margin-right: 6px; color: #007580;}
.active_work {background: #007580; color: #ffffff !important;}

.new_works_header .list_works a:hover{background-color: #007580; color: #ffffff;}
/* .new_works_content {flex-wrap: wrap;} */
.new_works_content_container{margin: 0 auto; width: 1257px;}

.new_works_content_item{width: 31.3% !important; margin: 12px;position: relative;;padding: 15px 50px 15px 15px;background: #FFFFFF;border: 1px solid #DCDCDC;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);border-radius: 10px;}
.content_job{padding-left: 10px; width: 81%;}
.content_job span::before{content: url(../images/calendar.svg); height: 14px; vertical-align: middle; margin-right: 6px;}
.content_job a{color: #009638;}
.content_job a::before{content: url(../images/chat.svg); height: 14px; vertical-align: middle; margin-right: 5px;}
.img_flag{position: absolute; top: 0; right: 0; padding: 15.5px 17.5px}
.content_job p {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.info_job > div{border-radius: 100px; padding: 5px 12px; margin-right: 10px;}
.info_job .info_job_location{background-color: #E8E7FD;}
.info_job .info_job_offer{background-color: #FFE0B3;}

.new_works .slick-list.draggable{width: 100%;}
.slick-list {width: 100%;}

.new_works_content_container .img_arrow{border-radius: 50%; background-color: rgba(238, 238, 238, 0.68);width: 42px;height: 42px; z-index: 10;} 
.new_works_content_container .slick-prev{padding: 11px 16px 11px 15px; left: -8px;}
.new_works_content_container .slick-next{padding: 11px 15px 11px 16px; right: -8px;}
.new_works_content_container .slick-dots li{height: 12px; width: 12px; background: #EEEEEE; border-radius: 50%;}
.new_works_content_container .slick-dots .slick-active{background: #007580; }
.see_all {border: 1px solid #007580;border-radius: 100px; width: 140px; height: 42px; margin: 0 auto;}
.see_all::after{content: url(../images/next_small.svg); margin-left: 11px; height: 16.5px; vertical-align: middle;}
.see_all_container{padding-top: 15px;}

.banner_cv {padding-left: 30px; padding-right: 40px; background: #F5FEFF; height: 240px;}
.banner_create_cv_text {padding-top: 30px;}
.banner_middle_1{width: 1230px; margin:48px auto;}
.banner_middle_1_cv{width: 812px; margin-right: 24px;}
.banner_create_cv{margin-bottom: 24px;}
.banner_middle_1_chat{width: 394px;}

.box_shadow{box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.16);border-radius: 10px;}