RewriteEngine On    
RewriteBase /   

#order deny,allow
#deny from all
#allow from 14.162.144.184
#allow from 118.70.126.231
#allow from 27.3.179.20
#allow from 123.24.206.25
#allow from 43.239.223.157
#allow from 43.239.223.187
#allow from 43.239.223.60
#allow from 210.245.75.51
#allow from 14.248.82.205
#allow from 118.70.126.138
#allow from 14.232.208.241

RewriteBase /
RewriteRule  ^$ home/index.php
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

<IfModule mod_rewrite.c>
    #RewriteEngine On 
    #RewriteCond %{HTTPS} off
    #RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    #RewriteCond %{HTTP_HOST} www\.(.+)$ [NC]
    #RewriteRule ^ https://%1%{REQUEST_URI} [R=301,L]
</IfModule>


#trang

#authen ứng viên
RewriteRule ^authen/dang-nhap-ung-vien.html$ /home/authen/login_uv.php [NE,L]
RewriteRule ^authen/dang-ky-ung-vien.html$ /home/authen/register_uv.php [NE,L]
RewriteRule ^authen/quen-mat-khau-ung-vien.html$ /home/authen/forgot_uv.php [NE,L]
RewriteRule ^authen/thay-doi-mat-khau-ung-vien.html$ /home/authen/change_password_uv.php [NE,L]

#authen nhà tuyển dụng
RewriteRule ^authen/dang-nhap-nha-tuyen-dung.html$ /home/authen/login_ntd.php [NE,L]
RewriteRule ^authen/dang-ky-nha-tuyen-dung.html$ /home/authen/register_ntd.php [NE,L]
RewriteRule ^authen/quen-mat-khau-nha-tuyen-dung.html$ /home/authen/forgot_ntd.php [NE,L]
RewriteRule ^authen/thay-doi-mat-khau-nha-tuyen-dung.html$ /home/authen/change_password_ntd.php [NE,L]

#cv
RewriteRule ^cv$ /home/cv/list_cv.php [NE,L]

#ntd
RewriteRule ^chi-tiet-nha-tuyen-dung.html$ /home/ntd/details_ntd.php [NE,L]

#sau đăng nhập

#tổng quan 
RewriteRule ^tong-quan/$ /home/tong_quan/index.php [NE,L]

#tin tuyển dụng
RewriteRule ^tin-tuyen-dung/$ /home/tin_tuyen_dung/list.php [NE,L]
RewriteRule ^tin-tuyen-dung/dang-tin-tuyen-dung.html$ /home/tin_tuyen_dung/add.php [NE,L]
RewriteRule ^tin-tuyen-dung/chinh-sua-dang-tin-tuyen-dung.html$ /home/tin_tuyen_dung/edit.php [NE,L]

#quản lý điểm lọc
RewriteRule ^quan-ly-diem-loc/$ /home/quan_ly_diem_loc/list.php [NE,L]

